section {
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background-color: var(--bg);
    
}

header ,section{
    .inner {
        position: relative;
        max-width: 160rem;
        height: 100%;
        margin: auto;

        .btn {
            background-color: var(--primary);
            color: var(--bg);
            border: 0;
            padding: .6rem 1rem;
            cursor: pointer;
            border-radius: .5rem;
            text-transform: uppercase;
        }
    }
}