.inner.contact-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;



    h1.tit {
        transform: translateX(-5rem);

        @media screen and (max-width:1200px){
            transform: translateX(0);
        }
    }

    .contact-wrapper {
        display: flex;
        gap: 5rem;
        padding-top: clamp(12rem,14vw,16rem);

        @media screen and (max-width:1599px){
            flex-direction: column;
            // max-width: 80%;
            // margin: auto;
        }
        .contact-form {
            flex: 1;

            ul {
                li {
                    display: flex;
                    padding: 0.5rem 0;

                    

                    .label {
                        width: 15.8rem;
                        font-size: clamp(1.2rem, 1.6vw, 1.6rem);
                        text-align: center;
                    }

                    .field {
                        flex: 1;

                        input,
                        textarea {
                            width: 100%;
                            font-size: clamp(1.2rem, 1.6vw, 1.6rem);
                            padding: .5rem 2rem;
                            border: .1rem solid var(--gray200);
                            border-radius: .3rem;
                        }

                    }

                    @media screen and (max-width:768px){
                        flex-direction: column;
                        gap: 1rem;
                        .label{
                            width: 100%;
                        }
                    }

                    &:last-child {
                        text-align: right;

                        button {
                            background-color: var(--text);
                            display: inline-flex;
                            color: var(--bg);
                            padding: .5rem 2rem;
                            border-radius: 10rem;
                            font-size: clamp(1rem, 1.4rem, 1.6rem);
                            text-transform: uppercase;
                            font-weight: 800;
                        }
                    }
                }
            }
        }

        .contact-lst {
            flex: 1;
            display: flex;
            flex-direction: column;

            >li {
                flex: 1;
                display: flex;
                align-items: center;

                >.label {
                    flex: 1;
                    text-align: center;
                    font-size: clamp(1rem, 1.4rem, 1.6rem);
                    color: var(--neutral-500);
                    font-weight: 400;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media screen and (max-width:768px){
                        display: none;
                    }
                }

                .content,
                .contact-chips {
                    flex: 2;
                    padding-left: 2rem;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @media screen and (max-width:1200px){
                        text-align: center;
                        gap: .5rem;
                        padding: 2rem 0;
                    }
                }

                .contact-chips {
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    
                    @media screen and (max-width:1200px){
                        justify-content: center;
                    }
                }

                .contact-chips a{
                    margin-right: .5rem;
                    background-color: var(--text);
                    color: var(--bg);
                    border-radius: 5rem;
                }

                .content {

                    a {
                        display: block;
                        color: var(--neutral-600);
                        font-size: clamp(1.4rem, 1.6vw, 1.8rem);
                    }

                    .hint {
                        margin-top: 1rem;
                        font-size: .9rem;
                        color: var(--neutral-600);
                    }
                }

                &:hover {
                    >.label {
                        background-color: var(--neutral-900);
                        color: var(--neutral-100);
                    }

                    .content,
                    .contact-chips {
                        background-color: var(--primary);
                    }
                }
            }

            li+li {
                border-top: .1rem dashed var(--neutral-400);
            }
        }
    }
}