.inner.hero-inner{
    display: flex;
    align-items: center;
    height: 100vh;
    p.txt {
        position: absolute;
        text-align: right;
        right: 2rem;
        bottom: 10rem;
        
        @media screen and (max-width:599px){
            font-size: 1.6rem;
            // width: 80%;
        }
        @media screen and (max-width:399px){
            display: none;
        }
    }
    .arrow {
        position: absolute;
        bottom: 3rem;
        left: calc(50% - 1.5rem);
        animation: up 1s infinite alternate ease-in-out;
    }
}