.inner.hero-inner{
    display: flex;
    align-items: center;
    height: 100vh;
    p.txt {
        position: absolute;
        text-align: right;
        right: 2rem;
        bottom: 10rem;
    }
    .arrow {
        position: absolute;
        bottom: 3rem;
        left: calc(50% - 1.5rem);
        animation: up 1s infinite alternate ease-in-out;
    }
}