.inner.work-inner {
    padding: 20rem 0;

    .work-lst {
        display: flex;
        flex-direction: column;
        gap: 5.4rem;
        margin-top: 5rem;

        >li {
            background-color: var(--neutral-900);
            justify-content: space-between;
            align-items: center;
            display: flex;
            flex: 1;
            transition: all .3s;

            .lst-t-wrap {
                display: block;
                padding: 3rem 1rem;
                padding-left: 5rem;
                flex: 1;

                h4.lst-tit {
                    color: var(--neutral-100);
                }

                p.lst-dsc {
                    color: var(--neutral-400);
                }
            }

            .lst-img-wrap {
                width: 48rem;
                height: 36rem;
                display: block;
                overflow: hidden;

                .bg {
                    width: 100%;
                    height: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    transition: all .3s;
                }
            }


            &:hover {
                background-color: var(--primary);

                .lst-t-wrap {
                    h4.lst-tit {
                        color: var(--neutral-900);
                    }

                    p.lst-dsc {
                        color: var(--neutral-600);
                    }

                    .tags {
                        span {
                            background-color: var(--neutral-900);
                            color: var(--neutral-100);
                        }
                    }
                }

                .lst-img-wrap {
                    .bg {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}