.admin-container{
    background-color: #eee;
    min-height: 100vh;
    
    .inner{
        max-width: 160rem;
        margin: auto;
        padding: 2rem 1rem;
        margin-bottom: 2rem;
    }
}
